#AbilityReorderContainer {
    width: 50px;
    height: 0%;
    margin-top: 5%;
    margin-right: 2.7%;
    horizontal-align: right;
    flow-children: down;
    vertical-align: top;
}

.AbilityPositionChild {
    height: 6%;
    width: 100%;
    margin-bottom: 3%;
}

#AbilityName {
    color: rgb(167, 231, 240);
    font-size: 16px;
    text-align: center;
}

#AbilityImage {
    width: 100%;
    height: 50px;
    border-radius: 20%;
    background-color: black;
}
#AbilityImage.Hidden {
    height: 0px;
    width: 0px;
}

#AbilityKeyBindingTextEntry {
    width: 20%;
    margin-left: 20%;
    padding-top: 28%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 16px;
    text-align: center;
}

#AbilitySwapHideButton {
    width: 128px;
    height: 32px;
    margin-top: 8px;
    margin-right: 8px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.4);
    horizontal-align: right;
    vertical-align: top;
    color: white;
}

#AbilitySwapText {
    font-size: 12px;
    text-align: center;
    color: white;
    horizontal-align: center;
    vertical-align: middle;
}

#AbilitySwapHideButton:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
