#AbilityIcons {
    width: 100%;
    margin-left: 16.3%;
    margin-right: 15%;
    height: 100%;
    margin-top: 16%;
    flow-children: right-wrap;
}
.AbilityIcon {
    height: 7%;
    width: 7%;
    padding: 8px;
    border-radius: 32px;
    z-index: 999999 !important;
}

.AbilityIconDisabled {
    opacity: 0.4;
}

.AbilityIcon:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 16px;
}
#AbilityImage {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    horizontal-align: center;
    vertical-align: middle;
    text-align: center;
    background-color: black;
}
