#AbilityIcons {
    width: 100%;
    margin-left: 80px;
    margin-right: 80px;
    height: 650px;
    margin-top: 150px;
    flow-children: right-wrap;
}
.AbilityIcon {
    height: 100px;
    width: 100px;
    padding-left: 10px;
    padding-right: 10px;
}
#AbilityImage {
    width: 80px;
    height: 80px;
    background-color: black;
}
