#HeroPortraitsLeft {
    width: 14%;
    height: 650px;
    margin-top: 15%;
    flow-children: down;
    horizontal-align: left;
}

#HeroPortraitsRight {
    width: 14%;
    height: 650px;
    margin-top: 15%;
    /* margin-right: 0px;
    padding-right: 0px; */
    flow-children: down;
    horizontal-align: right;
}

#HeroPortraitContainer {
    width: 100%;
    height: 100%;
}

#Ability1 {
    margin-top: 60%;
    margin-left: 2%;
    width: 16%;
    height: 36%;
    border-radius: 20%;
}

#AbilityBackgroundImage {
    height: 100%;
    width: 100%;
    z-index: -100;
}

#Ability2 {
    margin-top: 60%;
    margin-left: 21%;
    width: 16%;
    height: 36%;
    border-radius: 20%;
}

#Ability3 {
    margin-top: 60%;
    margin-left: 40%;
    width: 16%;
    height: 36%;
    border-radius: 20%;
}

#Ability4 {
    margin-top: 60%;
    margin-left: 59%;
    width: 16%;
    height: 36%;
    border-radius: 20%;
}

#Ability5 {
    margin-top: 60%;
    margin-left: 78%;
    width: 16%;
    height: 36%;
    border-radius: 20%;
}

.PlayerPortrait {
    background-color: rgba(0, 2, 6, 0.4);
    height: 16%;
    width: 100%;
    margin-bottom: 3%;
}

#HeroPortraitsRight > .PlayerPortrait {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

#HeroPortraitsLeft > .PlayerPortrait {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.PlayerPortrait.IsPickTurn {
    border: 2px solid rgba(60, 255, 0, 1);
}

.AbilityBackgroundImage {
    height: 100%;
    width: 100%;
}
.AbilityBackgroundImage .IsPicked {
    opacity: 0.3;
}

#HeroImage {
    width: 23%;
    height: 50%;
    border-bottom-right-radius: 15%;
}
#PlayerName {
    color: rgb(167, 231, 240);
    font-size: 20px;
    margin-top: 15%;
    margin-left: 26%;
}
