#HeroPortraits {
    width: 300px;
    height: 650px;
    margin-top: 150px;
    flow-children: down;
}
.PlayerPortrait {
    background-color: purple;
    height: 80px;
    width: 300px;
    margin-bottom: 10px;
}
#HeroImage {
    width: 80px;
    height: 80px;
    background-color: black;
}
#PlayerName {
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 90px;
}
.HealthContainer {
    width: 200px;
    height: 20px;
    x: 90px;
    y: 50px;
    background-color: black;
}
#HealthBar {
    height: 20px;
    width: 50%;

    background-color: green;
}
