#CustomPrecache {
    visibility: collapse;
    background-image: url("file://{images}/custom_game/ability_selection_background.png");
    background-image: url("file://{images}/custom_game/ability_selection_background");
}
