.StartButtonText {
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    horizontal-align: center;
}

#StartButton {
    height: 50px;
    width: 200px;
    border-radius: 20px;
    opacity: 1;
    background-color: #393e46;
    color: white;
    horizontal-align: center;
    vertical-align: middle;
    text-align: center;
}

#StartButton:hover {
    opacity: 0.5;
}
