.StartButtonText {
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    horizontal-align: center;
}

#StartButton {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    opacity: 0.5;
    background-color: rgba(8, 8, 8, 0.8);
    color: white;
    horizontal-align: center;
    vertical-align: middle;
    text-align: center;
}

#StartButton:hover {
    opacity: 1;
}
